# Node
node_modules/
npm-debug.log*

# Large Archives & Executables & Build Output
app-exe.rar
app-exe/node_modules/
app-exe/dist/
app-exe/src-tauri/target/
Macos/
*.rar
*.zip
*.exe

# Cargo / Rust build targets
target/
**/target/
/src-tauri/target/
/src-tauri/WixTools/
/tools/license-generator/target/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
*.swp
*.swo
